fire tab
    actually make the controller



calibration maker
    input data and it makes the calibration equation
    just need to make the actual math now


convert file openers into video game like version
    when converted to exe, still able to write to json and csv
